.block {
  width:12vw;
  display: block;
  float: left;
  margin: 10px;
  /* position: absolute; */
  top:0;
  left:0;

}
.block img {
  width:12vw;
  border-radius: 10px;

}
.block a {
  hyphens: auto;
  width:10vw;
  font-size: 10px;
}
.react-draggable {
  /* position: absolute; */
}
a {
  margin-right: 10px;
}
